@tailwind base;
@tailwind components;
@tailwind utilities;

/*markdown*/
.markdown > * {
  all: revert;
}

/* font config */
@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("./assets/fonts/Helvetica-Neue-LT-Std-Thin-Extended.otf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("./assets/fonts/Helvetica-Neue-LT-Std-Roman.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLTStdCondensed";
  src: url("./assets/fonts/Helvetica-Neue-LT-Std-Medium-Condensed.otf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLTStdCondensed";
  src: url("./assets/fonts/Helvetica-Neue-LT-Std-Extra-Black-Condensed.otf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #b0e2e9 0%, white 100%);
  background-repeat: no-repeat;
}

.h-min-witout-footer {
  min-height: calc(100vh - 226px);
}

.markdown pre{
  background-color: #083344;
  border-radius: 8px;
  padding: 16px;
  color: white;
}

.markdown code{
  background-color: #083344;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 2px 6px;
  color: white;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6{
  @apply text-3xl font-bold text-cyan950;
}

.markdown p, .markdown span, .markdown ul, .markdown ol{
  @apply text-base text-cyan700;
}

.markdown a{
  @apply text-base text-cyan950 underline;
}

.markdown a:hover{
  @apply text-base text-cyan950 underline;
}

.markdown ul{
  @apply list-disc list-inside;
}

.markdown ol{
  @apply list-decimal list-inside;
}

.markdown li{
  @apply text-base text-cyan700;
}

.markdown blockquote{
  @apply text-base text-cyan700 border-l-4 border-cyan950 pl-4;
}

.markdown hr{
  @apply border-cyan950 border-2 my-8;
}

.markdown table{
  @apply border-collapse border-cyan950 border-2;
}

.markdown table th{
  @apply border-cyan950 border-2 bg-cyan950 text-white text-base font-bold p-2;
}

.markdown table td{
  @apply border-cyan950 border-2 text-base p-2;
}

.markdown table tr:nth-child(even){
  @apply bg-cyan950;
}

.markdown table tr:nth-child(odd){
  @apply bg-cyan700;
}

.markdown table tr:hover{
  @apply bg-cyan950;
}

.markdown table tr:hover td{
  @apply bg-cyan950;
}

.markdown table tr:hover th{
  @apply bg-cyan950;
}

